<div class="component-body">
  <div class="d-md-flex h-md-100 p-0 justify-content-center" style="margin-top: 3em;">
    <mat-form-field>
      <mat-label>Select a company</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="company" (ngModelChange)="reloadCompany()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let company of companies" [value]="company">
          {{ company }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- <p> Selected company: {{ selectedValue }} </p> -->


  <data-table [indexColumn]=false [items]="items" [itemCount]="itemCount" (reload)="reloadItems($event)">
    <data-table-column [property]="'id'" [header]="'#'" [sortable]="true" [resizable]="true">
    </data-table-column>

    <data-table-column [property]="'title'" [header]="'Title'" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <a class="title" [routerLink]="['/problems',item.id]" routerLinkActive="active">
          {{ item.title }}
        </a>
      </ng-template>
    </data-table-column>

    <data-table-column [property]="'difficulty'" [header]="'Difficulty'" [sortable]="true" [resizable]="true">
      <ng-template #dataTableCell let-item="item">
        <span class="{{'pull-left label difficulty diff-' + item.difficulty.toLocaleLowerCase()}}">
          {{ item.difficulty }}
        </span>
      </ng-template>
    </data-table-column>

  </data-table>
</div>