<div class="container my-component">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>
          <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
            <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>

            <mat-form-field class="form-signin">
              <input matInput type="email" id="inputEmail" name="email" ngModel class="form-control"
                placeholder="Email address" required autofocus>
            </mat-form-field>

            <mat-form-field class="form-signin">
              <input matInput type="password" id="inputPassword" name="password" ngModel class="form-control"
                placeholder="Password" required>
            </mat-form-field>

            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Remember password</label>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required
    autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password"
    required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form> -->