<div class="d-md-flex h-md-100 align-items-center">

  <!-- First Half -->
  
  <div class="col-md-6 bg-white h-md-100">
    <div class="text" *ngIf="problem">
        <h2>{{problem.id}}. {{problem.name}}</h2>
        <p>{{problem.difficulty}}</p>
        <p *ngFor="let com of problem.Company">{{com}}</p>
        <p>{{problem.tag}}</p>
        <p>{{problem.desc}}</p>
    </div>
  </div>
  
  <!-- Second Half -->
  
  <div class="col-md-6 bg-white h-md-100 loginarea">
        <div class="text" *ngIf="problem">
            <mat-tab-group animationDuration="500ms">
                <mat-tab *ngFor="let item of problem.code; let i = index" label= "{{item.isAccepted? 'Accepted': 'Not Accepted'}}"> 
                    <p>{{item.performance}}</p>
                    <p>{{item.code_language}}</p>
                    <p>{{item.time_created}}</p>
                    <p>{{item.time_modified}}</p>
                    <p>{{item.content}}</p>
                    <p>{{item.note.content}}</p>
                </mat-tab>
            </mat-tab-group>
        </div>
  </div>
      
</div>