<!-- <div class="container">
  <div class="list-group">
    <a class="list-group-item" *ngFor="let prob of problems"
       [routerLink]="['/problems',prob.id]" routerLinkActive="active">
      <span class="{{'pull-left label difficulty diff-' + prob.difficulty.toLocaleLowerCase()}}">
        {{prob.difficulty}}
      </span>
      <strong class="title">{{prob.id}}. {{prob.name}}</strong>
    </a>
  </div>
</div> -->

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of problems">
      <td>{{ p.id }}</td>
      <td>
        <a class="title" [routerLink]="['/problems',p.id]" routerLinkActive="active">{{ p.name }}</a>
      </td>
      <td>
        <span class="{{'pull-left label difficulty diff-' + p.difficulty.toLocaleLowerCase()}}">
          {{p.difficulty}}
        </span>
      </td>
    </tr>
  </tbody>
</table>
