.difficulty {
    min-width: 65px;
    margin-right: 10px;
}
  
.label.difficulty {
    /* padding-top: 0.0em; */
    /* color: #fbfdfa; */
    font-size: 20px;
}

.title {
    font-size: 1.2em;
}
  
.diff-easy {
    color: #92cf5c;
}
  
.diff-medium {
    color: #f49542;
}
  
.diff-hard {
    color: #dd0d1e;
}


